html {
  background: black;
  color: white;
  text-align: center;
}

.App {
  text-align: center;
  background: black;
}

.logoImg{
  width: 220px;
  height: 140px;
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}

.navWrap {
  background: rgb(50, 50, 50);
  width: 240px;
  height: 650px;
  float: bottom;
  position: absolute;
  margin-top: 160px;
  margin-left: 10px;
}

.navWrap .button {
  width: 220px;
  height: 100px;
  margin-top: 25px;
  font-size: 30px;
  position: relative;
  text-align: center;
  background: grey;
}

.button a {
  text-decoration-line: none;
  text-align: center;
}

div a:link, div a:hover, div a:visited {
  color: black;
}

.titleWrap a:hover {
  color: yellow;
}

.titleWrap {
  background:rgb(50, 50, 50);
  height: 70px;
  text-align: center;
  padding: 30px 0;
  float: left;
  margin-left: 30px;
  margin-top: 10px;
  width: 1230px;
  font-size: 60px;
  font-weight: bold;
  font-style: initial;
}

.boardWrap {
  float: left;
  margin-top: 10px;
  width: 1230px;
  margin-left: 30px;
  margin-top: 20px;
  height: 650px;
  background: rgb(50, 50, 50);
}
